body {
    background-color: hsl(0, 0%, 100%);
    background-image: url("../images/bg-pattern-top-mobile.svg"),
        url("../images/bg-pattern-bottom-mobile.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    font-family: "Spartan";
    font-weight: 400;
    font-size: 15px;
    padding: 0 25px;
}

.heading-text h1 {
    margin-top: 80px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 250px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.heading-text p {
    color: hsl(303, 10%, 53%);
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: 500;
}

.stars-wrapper {
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-bottom: 15px;
    text-align: center;
}

.stars-wrapper .stars {
    margin-bottom: 15px;
}

.stars-wrapper .stars img {
    margin-left: 8px;
}

.stars-wrapper .stars-text {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin: 0;
}

.heading-stars {
    margin-bottom: 50px;
}

.reviews {
    margin-bottom: 100px;
}

.review {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    margin-bottom: 16px;
    border-radius: 8px;
}

.review-inner {
    padding: 38px 32px;
}

.review-heading {
    margin-bottom: 30px;
}

.review-heading img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 24px;
}

.review-heading-text {
    display: inline-block;
}

.review-heading-text p {
    margin: 0;
    font-size: 13px;
}

.review-heading-text .name {
    font-weight: 700;
    margin-bottom: 8px;
}

.review-heading-text .verified {
    color: hsl(333, 80%, 67%);
}

.review .review-content {
    margin: 0;
    font-weight: 500;
}

@media screen and (min-width: 1113px) {
    body {
        background-image: url("../images/bg-pattern-top-desktop.svg"),
            url("../images/bg-pattern-bottom-desktop.svg");
        background-position: top left, bottom right;
        padding: 0;
        min-height: 100vh;
    }

    main {
        max-width: 1112px;
        margin: 125px auto 98px;
    }

    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .heading-text {
        max-width: 428px;
        text-align: left;
        margin-bottom: 75px;
    }

    .heading-text h1 {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        font-size: 50px;
        max-width: 100%;
    }

    .heading-text p {
        text-align: left;
        margin-bottom: 0;
    }

    .heading-stars {
        width: 448px;
    }

    .stars-wrapper {
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        position: relative;
        margin-bottom: 16px;
    }

    .stars-wrapper:nth-child(1) {
        left: -92px;
    }

    .stars-wrapper:nth-child(2) {
        left: -46px;
    }

    .stars-wrapper .stars {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 0;
    }

    .stars-wrapper .stars-text {
        font-size: 13px;
        margin-top: 3px;
    }

    .stars-wrapper .stars img {
        margin-left: 4px;
    }

    .reviews {
        display: flex;
        justify-content: space-between;
    }

    .review {
        max-width: 350px;
        position: relative;
    }

    .review:nth-child(2) {
        top: 16px;
    }

    .review:nth-child(3) {
        top: 32px;
    }
}
